@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Rubik+Doodle+Shadow&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

.hero {
  width: 100%;
  height: 100%;
  color: whitesmoke;
  background-image: url("images/wave_bottom.svg"),
    linear-gradient(to right, #434343 0%, black 100%);
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  background-position: bottom;
  position: relative;
}

.hero__content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.hero__section {
  flex: 1;
}

.hero__title {
  font-family: "Rubik Doodle Shadow", "cursive";
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.hero__paragraph {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.hero__cta {
  display: block;
  width: fit-content;
  text-decoration: none;
  font-weight: bolder;
  color: black;
  background-image: linear-gradient(-225deg, #fffeff 0%, #add3d2 100%);
  padding: 0.6rem 1.2rem;
  border-radius: 0.6rem;
  margin: 0 auto;
  transition: all 0.5s;
}

.hero__cta:hover {
  background-image: linear-gradient(-225deg, #add3d2 0%, #fffeff 100%);
  transform: scale(1.1);
}

.hero__cta:active {
  transform: scale(0.9);
}

.hero__figure {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.hero__img {
  width: 50%;
  filter: drop-shadow(0px 0px 0.4rem white);
  animation: latido 1s infinite alternate-reverse;
}

.hero__img:hover {
  cursor: pointer;
}

.hero__autor {
  position: absolute;
  right: 6rem;
  bottom: 1.2rem;
  height: 3.5rem;
  width: 280px;
}

.hero__figure--container {
  display: flex;
  justify-content: space-evenly;
}

.hero__figure__autor {
  color: transparent;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  -webkit-background-clip: text;
  font-weight: bolder;
  font-size: 1.2rem;
  line-height: 3.5rem;
  text-align: center;
}

.hero__figure__autor::after {
  content: "";
  display: block;
  height: 5px;
  width: 65%;
  position: relative;
  bottom: 1rem;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.hero__img--height {
  height: 100%;
}

@keyframes latido {
  to {
    filter: drop-shadow(0px 0px 1.2rem white);
  }
}

@media (max-width: 720px) {
  .hero__title {
    font-size: 2.5rem;
  }

  .hero__paragraph {
    font-size: 1rem;
  }

  .hero__content {
    flex-direction: column;
  }

  .hero__section {
    padding: 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }

  .hero__figure {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero__autor {
    right: 5px;
    bottom: 0;
  }
}
